/* light mode */
.theme-adaptive {
    background-color: var(--bulma-link-light) !important;
}

.theme-adaptive.t-item,
.theme-adaptive .t-item {
    color: var(--bulma-link-dark) !important;
}

/* dark mode */
[data-theme="dark"] .theme-adaptive {
    background-color: var(--bulma-link-dark) !important;
}
[data-theme="dark"] .theme-adaptive.t-item,
[data-theme="dark"] .theme-adaptive .t-item {
    color: var(--bulma-link-light) !important;
}


/* global nav toggle */
.theme-toggle, 
.theme-toggle:hover, 
.theme-toggle:focus {
    background: transparent !important;
    border: none !important;
    height: 100%;
    cursor: pointer;
    text-decoration: none !important;
    box-shadow: none !important; 
}

/* help icon buttons */
.is-transparent,
.is-transparent:hover,
.is-transparent:focus,
.is-transparent:active {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

html, body {
    height: 100%;
    margin: 0;
}

.site-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}