/* light mode */
.theme-adaptive-navbar {
    background-color: var(--bulma-link-light) !important;
}
.theme-adaptive-navbar .navbar-item {
    color: var(--bulma-link-dark) !important;
}

/* dark mode */
[data-theme="dark"] .theme-adaptive-navbar {
    background-color: var(--bulma-link-dark) !important;
}
[data-theme="dark"] .theme-adaptive-navbar .navbar-item {
    color: var(--bulma-link-light) !important;
}

.theme-toggle, 
.theme-toggle:hover, 
.theme-toggle:focus {
    background: transparent !important;
    border: none !important;
    height: 100%;
    cursor: pointer;
    text-decoration: none !important;
    box-shadow: none !important; /* Removes any accidental button click outlines */
}