{% extends "base/user_base.html" %}
{% from 'macros/forms.html' import filter_tags with context %}


{% block title %}
    GroupFinder
{% endblock title %}


{% block main %}
    <main class="m-2">
        <div class="columns">
            <div class="column">
                <h2 class="title">Hi there, TEMP.</h2>
                <h3 class="subtitle">What are you looking for today?</h3>
            </div>
            <div class="column has-text-right">
                <a href="{{ url_for('show_create_group') }}" class="button is-link is-rounded">Create a group</a>
            </div>
        </div>
        <a href="{{ url_for('show_forum') }}">show forum: DELETE LATER</a>
        <div class="columns">
            <div class="column is-one-quarter">
                {{ filter_tags() }}
            </div>
            <div class="column">
                {% for group in groups %}
                <a class="box" href="{{ url_for('show_group', group_id=group['groupid']) }}">
                    <div class="columns is-mobile is-vcentered mb-3">
                        <div class="column">
                            <h4 class="title is-4 has-text-weight-bold mb-0">{{ group['name'] }}</h4>
                        </div>
                    </div>
                    <div class="block mb-4">
                        <div class="icon-text mb-1 block">
                            <span class="icon has-text-grey">
                                <i class="fa fa-file-text-o"></i>
                            </span>
                            <span class="is-size-5">{{ group['description'] or 'No description provided.' }}</span>
                        </div>
                        <div class="icon-text block">
                            <span class="icon has-text-grey">
                                <i class="fa fa-map-marker"></i>
                            </span>
                            <span class="is-size-5">{{ group['location'] or 'Location TBD' }}</span>
                        </div>
                    </div>
                </a>
                {% else %}
                    <p class="has-text-grey">No groups yet. Be the first to create one!</p>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock main %}

