{% extends "base/user_base.html" %}

{% block title %}
    Groupfinder - TEMP: Group name
{% endblock title %}

{% block main %}
<main class="columns m-2">
    <div class="column py-4 is-two-thirds">
        <div class="block mb-4">
            <h1 class="title is-1 mb-2 t-item has-text-weight-bold">1531 group</h1>
            <div class="tags">
                <span class="tag theme-adaptive t-item is-medium has-text-weight-bold">Academic</span>
                <span class="tag theme-adaptive t-item is-medium has-text-weight-bold">COMP</span>
            </div>
        </div>


        
        <div class="block my-5">
            <div class="icon-text my-3">
                <span class="icon has-text-grey is-medium">
                    <i class="fa fa-file-text-o fa-lg"></i> 
                </span>
                <span class="is-size-4">Aiming for a Distinction!</span>
            </div>
            
            <div class="icon-text my-3">
                <span class="icon has-text-grey is-medium">
                    <i class="fa fa-map-marker fa-lg"></i> 
                </span>
                <span class="is-size-4">Online</span>
            </div>
        </div>

        <div class="pt-4">
            <a href="#" class="button is-link is-large is-rounded px-6">
                <strong>Join Group</strong>
            </a>
        </div>
    </div>

    <div class="column">
        <div class="box p-5">
            <h2 class="title is-4 mb-5 pb-2"">
                Members <span class="has-text-grey-light is-size-5">(4/5)</span>
            </h2>

            <div>
                <div class="is-flex is-align-items-center mb-5">
                    <span class="icon is-large has-text-info mr-3">
                        <i class="fa fa-circle fa-3x"></i> 
                    </span>
                    <div>
                        <div class="is-flex is-align-items-center">
                            <span class="is-size-4 has-text-weight-bold t-item">Person 1</span>
                            
                            <span class="tag theme-adaptive t-item ml-2" style="font-weight: 600;">Owner</span>
                        </div>
                        <p class="is-size-6 t-item" style="opacity: 0.7;">@per1</p>
                    </div>
                </div>

                <div class="is-flex is-align-items-center mb-5">
                    <span class="icon is-large has-text-warning mr-3">
                        <i class="fa fa-circle fa-3x"></i> 
                    </span>
                    <div>
                        <span class="is-size-4">Person 2</span>
                        <p class="is-size-6 has-text-grey">@per2</p>
                    </div>
                </div>

                <div class="is-flex is-align-items-center mb-5">
                    <span class="icon is-large has-text-success mr-3">
                        <i class="fa fa-circle fa-3x"></i> 
                    </span>
                    <div>
                        <span class="is-size-4">Person 3</span>
                        <p class="is-size-6 has-text-grey">@per3</p>
                    </div>
                </div>

                <div class="is-flex is-align-items-center">
                    <span class="icon is-large has-text-danger mr-3">
                        <i class="fa fa-circle fa-3x"></i> 
                    </span>
                    <div>
                        <span class="is-size-4">Person 4</span>
                        <p class="is-size-6 has-text-grey">@per4</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</main>
{% endblock main %}
