{% macro signup_form() %}

    {# Form data will only be passed if an invalid sign up has been attempted #}
    {% if form_data is not defined %}
        {% set form_data = {} %}
    {% endif %}

    {# Display errors #}
    {% if errors is defined %}
    <div class="mx-6 my-3 notification is-danger is-light">
        <p>Could not complete sign up. Please correct the following and try again:</p>
        {% for message in errors %}
            <li>{{ errors[message] }}</li>
        {% endfor %}
    </div>
    {% endif %}

    <form action="{{ url_for('process_signup') }}" method="post" class="mx-6 my-3 box has-text-centered p-4">
        <fieldset>

            <div class="field">
                <div class="is-flex is-align-items-center is-justify-content-center mb-3">
                    <label class="label" for="username">Username</label>

                    <span class="dropdown is-hoverable">
                        <span class="dropdown-trigger">
                        <button type="button" class="button is-white is-medium px-2 py-1" aria-haspopup="true" aria-controls="dropdown-menu4" style="box-shadow: none;">
                            <span class="icon is-medium has-text-grey">
                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                            </span>
                        </button>
                        </span>
                        <span class="dropdown-menu" id="dropdown-menu4" role="menu">
                        <div class="dropdown-content">
                            <div class="dropdown-item">
                            <p>
                                What do you want your user to be called? Just make sure it has no spaces.
                            </p>
                            </div>
                        </div>
                        </span>
                    </span>
                </div>
                <div class="control mx-6 my-3">
                    <input type="text" name="username" id="username" placeholder="Username" value="{{ form_data.username }}" class="input" required>
                </div>
            </div>

            <div class="field">
                <div class="is-flex is-align-items-center is-justify-content-center mb-3">
                    <label for="new_password" class="label">Choose a password</label>

                    <span class="dropdown is-hoverable">
                        <span class="dropdown-trigger">
                        <button class="button is-white is-medium px-2 py-1" type="button" aria-haspopup="true" aria-controls="dropdown-menu4" style="box-shadow: none;">
                            <span class="icon is-medium has-text-grey">
                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                            </span>
                        </button>
                        </span>
                        <span class="dropdown-menu" id="dropdown-menu4" role="menu">
                        <div class="dropdown-content">
                            <div class="dropdown-item">
                            <p>
                                What password do you want connected to your user? This will (along with your username) be used to log you in.
                            </p>
                            </div>
                        </div>
                        </span>
                    </span>
                </div>
                <div class="control mx-6 my-3">
                    <input type="password" name="new_password" id="new_password" placeholder="Password" class="input" required>
                </div>
            </div>

            <div class="field">
            <label for="confirm_password" class="label">Confirm password</label>
            <div class="control mx-6 my-3">
                <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm password" class="input" required>
            </div>
            </div>
        </fieldset>

        <div class="field is-grouped">
            <div class="control mx-6 my-3">
                <button class="button is-link" type="Submit">Sign up</button>
            </div>
        </div>
    </form>

{% endmacro %}


{# Form for login - no repopulation for this form #}
{% macro login_form() %}

    {% if login_failed is defined %}
        <p class="notification is-danger is-light mx-6">Could not log in due to invalid credentials. Please check your username and password.</p>
    {% endif %}
    
    <form action="{{ url_for('login_user') }}" method="post" class="mx-6 my-3 box has-text-centered p-4">

        <fieldset>
            <div class="field m-6">
                <label for="username" class="label">Username</label>
                <input class="input" type="text" name="username" id="username" placeholder="Enter your username" required>
            </div>

            <div class="field m-6">
                <label for="password" class="label">Password</label>
                <input class="input" type="password" name="password" id="password" placeholder="Enter your password" required>
            </div>
        </fieldset>

        <div class="field is-grouped">
            <div class="control mx-6 my-3">
                <button class="button is-link" type="Submit">Log in</button>
            </div>
        </div>

    </form>

{% endmacro %} 


{# TEMP: dont't need this probably (but we can include it if we need it) #}
{% macro edit_username() %}
    {# Form data will only be passed if an invalid sign-up has been attempted #}
    {% if form_data is not defined %}
        {% set form_data = {} %}
    {% endif %}

    {# Display errors #}
    {% if username_errors is defined %}
        <div class="mx-6 my-3 notification is-danger is-light">
        <p>Could not edit username. Please correct the following and try again:</p>
        {% for message in username_errors %}
            <li>{{ username_errors[message] }}</li>
        {% endfor %}
        </div>
    {% endif %}

    <form action="{{ url_for('change_username') }}" method="post" class="mx-6 my-3 box has-text-centered p-4">
        <fieldset>
            <input type="hidden" name="form_name" value="edit_username">
            <label class="label">Change Username</label>
            <div class="field has-addons mx-6 my-3">
                <div class="control is-expanded">
                    <input type="text" name="username" class="input" placeholder="New Username" value="{{ username }}" required>
                </div>
                <div class="control">
                    <button type="submit" class="button is-link is-fullwidth">Change Username</button>
                </div>
            </div>
        </fieldset>
    </form>
{% endmacro %}

{# TEMP don't need this probably :yum: #}
{% macro change_password() %}
    {# Form data will only be passed if an invalid sign-up has been attempted #}
    {% if form_data is not defined %}
        {% set form_data = {} %}
    {% endif %}

    {# Display errors #}
    {% if password_errors is defined %}
        <div class="mx-6 my-3 notification is-danger is-light">
        <p>Could not change password. Please correct the following and try again:</p>
        {% for message in passwords_errors %}
            <li>{{ password_errors[message] }}</li>
        {% endfor %}
        </div>
    {% endif %}

    <form action="{{ url_for('change_password') }}" method="post" class="mx-6 my-3 box has-text-centered p-4">
        <fieldset class="my-3">
            <div class="field">
            <input type="hidden" name="form_name" value="change_password">
                <label class="label">Change Password</label>
                <div class="control mx-6 my-3">
                    <input type="password" name="old_password" class="input" placeholder="Old Password">
                </div>
            </div>

            <div class="field">
                <div class="control mx-6 my-3">
                    <input type="password" name="new_password" class="input" placeholder="New Password">
                </div>
            </div>

            <div class="field">
                <div class="control mx-6 my-3">
                    <input type="password" name="confirm_password" class="input" placeholder="Confirm New Password">
                </div>
            </div>

            <div class="field">
                <div class="control mx-6 my-3">
                    <button type="submit" class="button is-danger is-fullwidth">Change Password</button>
                </div>
            </div>
        </fieldset>
    </form>
{% endmacro %}


{% macro filter_tags() %}
    {% if form_data is not defined %}
        {% set form_data = {} %}
    {% endif %}

    {% if check_filters is defined %}
        <div class="notification is-danger is-light">
        <p>Error in filtering tags. Please try again!</p>
        </div>
    {% endif %}

    <form action="#" method="post" class="box p-4">
    <fieldset>
            <div class="field py-1">
                <div class="control">
                    <label class="checkbox is-size-6">
                        <input type="checkbox" name="tags" value="Academic">
                        <span class="ml-2">Academic</span>
                        <span class="has-text-grey-light font-weight-normal is-size-6">(20)</span>
                    </label>
                </div>
            </div>

            <div class="field py-1">
                <div class="control">
                    <label class="checkbox is-size-6">
                        <input type="checkbox" name="tags" value="Social">
                        <span class="ml-2">Social</span>
                        <span class="has-text-grey-light font-weight-normal is-size-6">(10)</span>
                    </label>
                </div>
            </div>

            <div class="field py-1">
                <div class="control">
                    <label class="checkbox is-size-6">
                        <input type="checkbox" name="tags" value="COMP">
                        <span class="ml-2">COMP</span>
                        <span class="has-text-grey-light font-weight-normal is-size-6">(15)</span>
                    </label>
                </div>
            </div>

            <div class="field mt-5">
                <div class="control">
                    <button type="submit" class="button is-link is-fullwidth">Apply Filters</button>
                </div>
            </div>

        </fieldset>
    </form>
{% endmacro %}



{% macro create_group() %}
    {% if form_data is not defined %}
        {% set form_data = {} %}
    {% endif %}
    {% if has_creation_error is defined %}
        <div class="notification is-danger is-light">
            <p>Error in creating group. Please try again!</p>
        </div>
    {% endif %}
    <form action="{{ url_for('create_group') }}" method="post" class="box p-4">
    <fieldset>
        <legend class="title is-4 has-text-centered mb-5">Create New Group</legend>

        <div class="field mb-4">
            <label class="label">Group Name</label>
            <div class="control">
                <input class="input" type="text" name="name" placeholder="e.g. Comp1531 Study Group" value="{{ form_data.get('name', '') }}">
            </div>
        </div>

        <div class="field mb-4">
            <label class="label">Description</label>
            <div class="control">
                <textarea class="textarea" name="description" placeholder="e.g. Aiming for a distinction, meeting weekly!">{{ form_data.get('description', '') }}</textarea>
            </div>
        </div>

        <div class="field mb-4">
            <label class="label">Location</label>
            <div class="control has-icons-left">
                <input class="input" type="text" name="location" placeholder="e.g. Room 413 Main Library" value="{{ form_data.get('location', '') }}">
                <span class="icon is-small is-left has-text-grey">
                    <i class="fa fa-map-marker"></i>
                </span>
            </div>
            <p class="help has-text-grey-light">Leave blank if not specified yet!</p>
        </div>

        <div class="field mb-4">
            <label class="label">Max Members</label>
            <div class="control has-icons-left">
                <input class="input" type="number" name="max_people" min="2" max="100" placeholder="e.g. 5" value="{{ form_data.get('max_people', '') }}">
                <span class="icon is-small is-left has-text-grey">
                    <i class="fa fa-users"></i>
                </span>
            </div>
            <p class="help has-text-grey-light">Leave blank if no limit!</p>
        </div>

        <div class="field mb-4">
            <label class="label">Tags</label>
            <p class="help has-text-grey-light mb-2">Pick from existing tags, or add a custom one below.</p>
            <div class="is-flex is-flex-wrap-wrap">
                {% for tag in tags %}
                <label class="checkbox is-size-6 mr-3 mb-2">
                    <input type="checkbox" name="tags" value="{{ tag['tagid'] }}" class="mr-1"/> {{ tag['tagname'] }}
                </label>
                {% endfor %}
            </div>
        </div>

        <div class="field mb-5">
            <label class="label">Custom Tag</label>
            <div class="control">
                <input class="input" type="text" name="custom_tag" placeholder="e.g. Math, Casual, etc...">
            </div>
            <p class="help has-text-grey-light">Optional, only fill in if none of the above fit!</p>
        </div>

        <div class="field mt-5">
            <div class="control">
                <button type="submit" class="button is-link is-fullwidth has-text-weight-bold">
                    Create Group!
                </button>
            </div>
        </div>
    </fieldset>
    </form>
{% endmacro %}