{% extends base_template %}

{% block title %}
    GroupFinder - Error
{% endblock title %}

{% block main %}
    <main class="m-4">
    <div class="columns">
        <div class="column">
            <p class="title">You've stumbled across an error!</p>
            <p class="subtitle">Didn't mean to?</p>
            {% if logged_in %}
                <a href="{{ url_for('show_dashboard') }}" class="button is-link">Return to dashboard</a>
            {% else %}
                <a href="{{ url_for('home') }}" class="button is-link">Return to homepage</a>
            {% endif %}
        </div>
    </div>
    </main>
{% endblock main %}
