{% extends "base/public_base.html" %}
{% from 'macros/forms.html' import login_form with context %}


{% block title %}
    GroupFinder - Log in
{% endblock title %}


{% block main %}
    <h2 class="has-text-centered title mt-4">Welcome back!</h2>
    <h3 class="has-text-centered subtitle">It's good to see you again.</h3>
    
    <div class="columns is-centered">
        <div class="column is-one-third-widescreen is-half-desktop is-two-thirds-tablet">
            {{ login_form() }}
        </div>
    </div>
    <div class="block">
        <br>
        <br>
        <br>
    </div>


{% endblock main %}
